#section5 {
    height: 100%;
}

.personagens-one::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.05926120448179273) 50%, rgba(0, 0, 0, 0) 100%);
}

.imagem-one{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.personagem-one{
    display: none;
    height: 100%;
}

.personagem-one.ativo{
    display: block;
}

.personagem-one .imagem-one{
    height: 100%;
    object-fit: cover;
}

.conteudo-one{
    position: absolute;
    top: 0;
    left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    max-width: 38%;
    z-index: 1;
}

.conteudo-one .nome-personagem-one {
    color: #ffffff;
    font-size: 48px;
    font-family: "Secular One";
    font-weight: 400px;
    margin-bottom: 30px;
}

.conteudo-one .descricao-one {
    color: #ffffff;
    font-family: "Rubik";
    line-height: 24px;
}

.descricao-one{
    width: 70%;
}

.conteudo-one .logo-one{
    background-image: url("../imagensOP/one-piece-logo.png");
    background-size: cover;
    height: 100px;
    width: 32%;
    margin-bottom: 35px;
}

.botoes-one {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 10%;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgba(0, 0, 0, 0.5);
}

.botoes-one .botao-one{
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: #000000;
}

.botoes-one .botao-one{
    border-radius: 50%;
}

.botoes-one .botao-one img{
    border-radius: 50%;
}

.botoes-one .botao-one.ativo{
    transform: scale(1.2);
    box-shadow: 0 0 10px #000000;
}

.botao-one.ativo{
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.botao-one.ativo{
    border-radius: 50%;
}

.botao-one.ativo img{
    border-radius: 50%;
}